<div class="calendar-container">
  <div style="display: flex; justify-content: space-evenly; padding: 20px">
    <div>
      <div class="btn-group">
        <button
          mat-raised-button
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (click)="monthChanged($event)"
        >
          {{ "Previous" | translate }}
        </button>
        <button
          mat-raised-button
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (click)="monthChanged($event)"
        >
          {{ "Today" | translate }}
        </button>
        <button
          mat-raised-button
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (click)="monthChanged($event)"
        >
          {{ "Next" | translate }}
        </button>
      </div>
    </div>
    <div>
      <h3>{{ viewDate | calendarDate: view + "ViewTitle":"en" }}</h3>
    </div>
  </div>
  <br />
  <div>
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>

<ng-template #modalContent let-data>
  <h3>{{ data.date | date }}</h3>
  <mat-list dense>
    <mat-list-item *ngFor="let item of data.events">
      <mat-icon mat-list-icon>announcement</mat-icon>

      {{ item.title }}
    </mat-list-item>
  </mat-list>
</ng-template>
