<div class="counts-container">
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile>
      <div class="count-card" style="background-color: #862020">
        <div>
          <h3 translate style="font-size: 24px">students count</h3>
        </div>
        <div style="font-size: 24px">{{ studentsCount }}</div>
        <div><i class="material-icons" style="font-size: 24px">group</i></div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="count-card" style="background-color: #268620">
        <div>
          <h3 translate style="font-size: 24px">staffs count</h3>
        </div>
        <div style="font-size: 24px">{{ staffsCount }}</div>
        <div><i class="material-icons" style="font-size: 24px">group</i></div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
