<div class="form-container">
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-grid-list cols="4" rowHeight="100">
      <mat-grid-tile *ngFor="let field of fields">
        <!-- <mat-form-field> -->
        <ng-container *ngIf="field.type === 0">
          <mat-form-field>
            <mat-label>{{ field.label | translate }}</mat-label>
            <input matInput [formControlName]="field.code" />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="field.type === 1">
          <mat-form-field>
            <mat-label>{{ field.label | translate }}</mat-label>
            <input matInput type="number" [formControlName]="field.code" />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="field.type === 2">
          <mat-form-field>
            <mat-label>{{ field.label | translate }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker1"
              [formControlName]="field.code"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="field.type === 3">
          <mat-form-field>
            <mat-label>{{ field.label | translate }}</mat-label>
            <mat-select matSelect [formControlName]="field.code">
              <mat-option
                *ngFor="let option of field.options"
                [value]="option.code"
                >{{ option.label | translate }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="field.type === 4">
          <mat-form-field>
            <mat-label>{{ field.label | translate }}</mat-label>
            <textarea matInput [formControlName]="field.code"></textarea>
          </mat-form-field>
        </ng-container>
        <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <button style="width: 50%" mat-raised-button color="primary">
        {{ "Save" | translate }}
      </button>
      <button style="width: 50%" mat-raised-button>
        {{ "Cancel" | translate }}
      </button>
    </div>
  </form>
</div>
